In [1]:
import pandas as pd
df=pd.read_csv('home.csv')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,0.98765,0.0,12.50,0,0.561,6.980,89.0,2.0980,3,320,23.0,396.00,12.00,12.0
507,0.23456,0.0,12.50,0,0.561,6.980,76.0,2.6540,3,320,23.0,343.00,25.00,32.0
508,0.44433,0.0,12.50,0,0.561,6.123,98.0,2.9870,3,320,23.0,343.00,21.00,54.0
509,0.77763,0.0,12.70,0,0.561,6.222,34.0,2.5430,3,329,23.0,343.00,76.00,67.0
510,0.65432,0.0,12.80,0,0.561,6.760,67.0,2.9870,3,345,23.0,321.00,45.00,24.0

결측치 확인

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     511 non-null    float64
 1   ZN       511 non-null    float64
 2   INDUS    511 non-null    float64
 3   CHAS     511 non-null    int64
 4   NOX      511 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      511 non-null    float64
 7   DIS      511 non-null    float64
 8   RAD      511 non-null    int64
 9   TAX      511 non-null    int64
 10  PTRATIO  511 non-null    float64
 11  B        511 non-null    float64
 12  LSTAT    511 non-null    float64
 13  MEDV     511 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 56.0 KB

이상치 확인

In [3]:
print(df['CRIM'].mean())
print(df['CRIM'].std())
print(df['CRIM'].max())
print(df['CRIM'].min())
bottom_CRIM=df['CRIM'].mean()-3*df['CRIM'].std()
print(bottom_CRIM)
top_CRIM=df['CRIM'].mean()+3*df['CRIM'].std()
print(top_CRIM)

3.584138577299414
8.564433333509854
88.9762
0.00632
-22.109161423230148
29.277438577828974

In [4]:
print(df['ZN'].mean())
print(df['ZN'].std())
print(df['ZN'].max())
print(df['ZN'].min())
bottom_ZN=df['ZN'].mean()-3*df['ZN'].std()
print(bottom_ZN)
top_ZN=df['ZN'].mean()+3*df['ZN'].std()
print(top_ZN)

11.252446183953033
23.234838381032066
100.0
0.0
-58.45206895914317
80.95696132704924

In [5]:
print(df['INDUS'].mean())
print(df['INDUS'].std())
print(df['INDUS'].max())
print(df['INDUS'].min())
bottom_INDUS=df['INDUS'].mean()-3*df['INDUS'].std()
print(bottom_INDUS)
top_INDUS=df['INDUS'].mean()+3*df['INDUS'].std()
print(top_INDUS)

11.15109589041098
6.828174588309407
27.74
0.46
-9.33342787451724
31.635619655339198

In [6]:
print(df['NOX'].mean())
print(df['NOX'].std())
print(df['NOX'].max())
print(df['NOX'].min())
bottom_NOX=df['NOX'].mean()-3*df['NOX'].std()
print(bottom_NOX)
top_NOX=df['NOX'].mean()+3*df['NOX'].std()
print(top_NOX)

0.5547567514677099
0.11530992214681592
0.871
0.385
0.2088269850272621
0.9006865179081576

In [7]:
print(df['RM'].mean())
print(df['RM'].std())
print(df['RM'].max())
print(df['RM'].min())
bottom_RM=df['RM'].mean()-3*df['RM'].std()
print(bottom_RM)
top_RM=df['RM'].mean()+3*df['RM'].std()
print(top_RM)

6.287588932806333
0.7038016463619766
8.78
3.5610000000000004
4.176183993720404
8.398993871892262

In [8]:
print(df['AGE'].mean())
print(df['AGE'].std())
print(df['AGE'].max())
print(df['AGE'].min())
bottom_AGE=df['AGE'].mean()-3*df['AGE'].std()
print(bottom_AGE)
top_AGE=df['AGE'].mean()+3*df['AGE'].std()
print(top_AGE)

68.61624266144817
28.09913037471998
100.0
2.9
-15.681148462711775
152.9136337856081

In [9]:
print(df['DIS'].mean())
print(df['DIS'].std())
print(df['DIS'].max())
print(df['DIS'].min())
bottom_DIS=df['DIS'].mean()-3*df['DIS'].std()
print(bottom_DIS)
top_DIS=df['DIS'].mean()+3*df['DIS'].std()
print(top_DIS)

3.7838759295499003
2.09863136242663
12.1265
1.1296
-2.5120181577299903
10.07977001682979

In [10]:
print(df['RAD'].mean())
print(df['RAD'].std())
print(df['RAD'].max())
print(df['RAD'].min())
bottom_RAD=df['RAD'].mean()-3*df['RAD'].std()
print(bottom_RAD)
top_RAD=df['RAD'].mean()+3*df['RAD'].std()
print(top_RAD)

9.4853228962818
8.68846879735388
24
1
-16.58008349577984
35.55072928834344

In [11]:
print(df['TAX'].mean())
print(df['TAX'].std())
print(df['TAX'].max())
print(df['TAX'].min())
bottom_TAX=df['TAX'].mean()-3*df['TAX'].std()
print(bottom_TAX)
top_TAX=df['TAX'].mean()+3*df['TAX'].std()
print(top_TAX)

407.440313111546
167.9035316492595
711
187
-96.27028183623247
911.1509080593245

In [12]:
print(df['PTRATIO'].mean())
print(df['PTRATIO'].std())
print(df['PTRATIO'].max())
print(df['PTRATIO'].min())
bottom_PTRATIO=df['PTRATIO'].mean()-3*df['PTRATIO'].std()
print(bottom_PTRATIO)
top_PTRATIO=df['PTRATIO'].mean()+3*df['PTRATIO'].std()
print(top_PTRATIO)

18.50000000000002
2.2003475661278347
23.0
12.6
11.898957301616518
25.101042698383523

In [13]:
print(df['B'].mean())
print(df['B'].std())
print(df['B'].max())
print(df['B'].min())
bottom_B=df['B'].mean()-3*df['B'].std()
print(bottom_B)
top_B=df['B'].mean()+3*df['B'].std()
print(top_B)

356.6009001956939
90.88267879563413
396.9
0.32
83.9528638087915
629.2489365825963

In [14]:
print(df['LSTAT'].mean())
print(df['LSTAT'].std())
print(df['LSTAT'].max())
print(df['LSTAT'].min())
bottom_LSTAT=df['LSTAT'].mean()-3*df['LSTAT'].std()
print(bottom_LSTAT)
top_LSTAT=df['LSTAT'].mean()+3*df['LSTAT'].std()
print(top_LSTAT)

12.879549902152645
7.797415936527357
76.0
1.73
-10.512697907429425
36.27179771173471

In [15]:
print(df['MEDV'].mean())
print(df['MEDV'].std())
print(df['MEDV'].max())
print(df['MEDV'].min())
bottom_MEDV=df['MEDV'].mean()-3*df['MEDV'].std()
print(bottom_MEDV)
top_MEDV=df['MEDV'].mean()+3*df['MEDV'].std()
print(top_MEDV)

22.68219178082194
9.484262294196043
67.0
5.0
-5.770595101766187
51.13497866341007

중복값 확인

In [16]:
df_a=df.drop_duplicates( )

In [17]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511 entries, 0 to 510
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     511 non-null    float64
 1   ZN       511 non-null    float64
 2   INDUS    511 non-null    float64
 3   CHAS     511 non-null    int64
 4   NOX      511 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      511 non-null    float64
 7   DIS      511 non-null    float64
 8   RAD      511 non-null    int64
 9   TAX      511 non-null    int64
 10  PTRATIO  511 non-null    float64
 11  B        511 non-null    float64
 12  LSTAT    511 non-null    float64
 13  MEDV     511 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 59.9 KB

결측값 처리

In [18]:
round(df['RM'].mean(),3)

6.288

In [19]:
df['RM'].fillna(round(df['RM'].mean(),3),inplace=True)

이상치 처리

In [20]:
print('outlier:')
for val in df['CRIM']:
    if val>top_CRIM:
        print(val)
    elif val<bottom_CRIM:
        print(val)

outlier:
88.9762
38.3518
41.5292
67.9208
51.1358
45.7461
73.5341
37.6619

In [21]:
for i in range(len(df['CRIM'])):
    if df['CRIM'][i]>top_CRIM or df['CRIM'][i]<bottom_CRIM:
        df['CRIM'][i]=df['CRIM'].median()

<ipython-input-21-fead1e4ca2e5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CRIM'][i]=df['CRIM'].median()

In [22]:
print('outlier:')
for val in df['ZN']:
    if val>top_ZN:
        print(val)
    elif val<bottom_ZN:
        print(val)

outlier:
90.0
85.0
100.0
95.0
95.0
82.5
82.5
95.0
95.0
90.0
90.0
90.0
85.0
90.0

In [23]:
for i in range(len(df['ZN'])):
    if df['ZN'][i]>top_ZN or df['ZN'][i]<bottom_ZN:
        df['ZN'][i]=df['ZN'].mode()

<ipython-input-23-6c59252ac04d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ZN'][i]=df['ZN'].mode()

In [24]:
print('outlier:')
for val in df['RM']:
    if val>top_RM:
        print(val)
    elif val<bottom_RM:
        print(val)

outlier:
8.725
8.704
8.78
3.5610000000000004
3.863
4.138
4.138

In [25]:
for i in range(len(df['RM'])):
    if df['RM'][i]>top_RM or df['RM'][i]<bottom_RM:
        df['RM'][i]=df['RM'].mean()

<ipython-input-25-85d1e4f26c61>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RM'][i]=df['RM'].mean()

In [26]:
print('outlier:')
for val in df['DIS']:
    if val>top_DIS:
        print(val)
    elif val<bottom_DIS:
        print(val)

outlier:
10.7103
10.7103
12.1265
10.5857
10.5857

In [27]:
for i in range(len(df['DIS'])):
    if df['DIS'][i]>top_DIS or df['DIS'][i]<bottom_DIS:
        df['DIS'][i]=df['DIS'].median()

<ipython-input-27-d8eb892a6678>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DIS'][i]=df['DIS'].median()

In [28]:
print('outlier:')
for val in df['B']:
    if val>top_B:
        print(val)
    elif val<bottom_B:
        print(val)

outlier:
70.8
2.6
35.05
28.79
27.25
21.57
16.45
48.45
2.52
3.65
7.68
24.65
18.82
60.72
83.45
81.33
27.49
9.32
68.95
43.06
0.32
6.68
50.92
10.48
3.5
22.01

In [29]:
for i in range(len(df['B'])):
    if df['B'][i]>top_B or df['B'][i]<bottom_B:
        df['B'][i]=df['B'].median()

<ipython-input-29-8b679bc7ad14>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['B'][i]=df['B'].median()

In [30]:
print('outlier:')
for val in df['LSTAT']:
    if val>top_LSTAT:
        print(val)
    elif val<bottom_LSTAT:
        print(val)

outlier:
37.97
36.98
76.0
45.0

In [31]:
for i in range(len(df['LSTAT'])):
    if df['LSTAT'][i]>top_LSTAT or df['LSTAT'][i]<bottom_LSTAT:
        df['LSTAT'][i]=df['LSTAT'].median()

<ipython-input-31-f88993a9ee68>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LSTAT'][i]=df['LSTAT'].median()

In [32]:
print('outlier:')
for val in df['MEDV']:
    if val>top_MEDV:
        print(val)
    elif val<bottom_MEDV:
        print(val)

outlier:
54.0
67.0

In [33]:
for i in range(len(df['MEDV'])):
    if df['MEDV'][i]>top_MEDV or df['MEDV'][i]<bottom_MEDV:
        df['MEDV'][i]=df['MEDV'].mean()

<ipython-input-33-8cfc841fcb51>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MEDV'][i]=df['MEDV'].mean()

In [34]:
df.to_csv('home_clean.csv',index=False)